<a href="">Home</a> | <a href="products">Products</a> | <a href="baskets">Baskets</a> | <a href="admin">Admin</a>

<br>
<router-outlet></router-outlet>
<!-- //sidebar component not added
//Build at: 2025-01-08T19:02:02.081Z - Hash: a63cfc56959bd84d - Time: 900ms

Error: src/app/app.component.html:2:1 - error NG8001: 'app-sidebar' is not a known element:
1. If 'app-sidebar' is an Angular component, then verify that it is part of this module.
2. If 'app-sidebar' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

2 <app-sidebar></app-sidebar>
  ~~~~~~~~~~~~~

  src/app/app.component.ts:5:16
    5   templateUrl: './app.component.html',
                     ~~~~~~~~~~~~~~~~~~~~~~
    Error occurs in the template of component AppComponent. -->

