.admin-container {
    width: auto;
    height: 100vh;
    margin: 10px;
    border: 1px solid #555;
    background-color: rgb(116, 116, 116);}

    .admin-container-left{
        width: 15%;
        background: #344650;;
    }