<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
      <!-- Stock -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
  
      <!-- Created Date -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>


      <!-- Updated Date Column -->
      <ng-container matColumnDef="lastUpdateDate">
        <th mat-header-cell *matHeaderCellDef> Updated Date </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdateDate}} </td>
      </ng-container>

       <!-- Upload Photo Column -->
       <ng-container matColumnDef="uploadPhoto">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <img  style = "cursor: pointer;" (click)="uploadPhoto(element.id)" src ="../../../../../assets/PhotoUpload.png" width="22px">  </td>
      </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="edit" >
            <th mat-header-cell *matHeaderCellDef width="20px" > </th>
            <td mat-cell *matCellDef="let element"><img src="../../../../../assets/btnEdit.png" width="20px" alt=""></td>
          </ng-container>
      <!-- Delete Column -->
      <ng-container matColumnDef="delete"   >
        <th mat-header-cell *matHeaderCellDef width="20px"> </th>
        <td   mat-cell *matCellDef="let element" 
        appDelete
        [id] = "element.id" 
        [options] = "options"
        (callBack)="getProducts">
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page) = "pageChanged()"
     [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  