.product-container {
    width: auto;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
    background-color: rgb(116, 116, 116);}

    .product-container-left{
        width: 22%;
        background: #344650;;
    }